<section>

    <!-- <div class="month-selector">
    <label for="monthSelect">Select Month:</label>
    <input type="month" id="monthSelect" [(ngModel)]="selectedMonth">
  </div> -->

  <div class="dashboard-cards">
    <div class="card income">
      <h4>Total Income</h4><h4 class="month-name">{{ getMonthName() }}</h4>
      <p class="amount">${{ getTotalIncome() }}</p>
    </div>
    <div class="card expenses">
      <h4>Total Expenses</h4><h4 class="month-name">{{ getMonthName() }}</h4>
      <p class="amount">${{ getTotalExpense() }}</p>
    </div>
    <div class="card balance">
      <h4>Balance</h4><h4 class="month-name">{{ getMonthName() }}</h4>
     <p class="amount" [style.color]="getTotalBalance() < 0 ? 'red' : 'green'">
  ${{ getTotalBalance() }}
</p>
    </div>
    
  </div>

  <app-transaction-form (newTransaction)="addTransaction($event)" ></app-transaction-form>
  <app-category-progress [categoriesData]="categoriesData"></app-category-progress>

  <!-- <app-category-progress></app-category-progress> -->
  <app-transaction-list
  [transactions]="transactions"
  [selectedMonth]="selectedMonth"
  (save)="saveToStorage($event)">
  
</app-transaction-list>
  
</section>


<!-- 
(newTransaction)Название кастомного ивента ="addTransaction($event)" Вызываем ф-ю и передаем конверт  
 [transactions]="transactions"  Передаем инпут компоненту (инпут в классе это как параметр в ф-ии)
 (save)="saveToStorage($event)">  Берем от дочернего компонента кастомный ивент output
-->