<section>
  <div class="dashboard-cards">
    <div class="card income">
      <h4>Total Income</h4><h4 class="month-name">{{ getMonthName() }}</h4>
      <p class="amount">${{ getTotalIncome() }}</p>
    </div>
    <div class="card expenses">
      <h4>Total Expenses</h4><h4 class="month-name">{{ getMonthName() }}</h4>
      <p class="amount">${{ getTotalExpense() }}</p>
    </div>
    <div class="card balance">
      <h4>Balance</h4><h4 class="month-name">{{ getMonthName() }}</h4>
     <p class="amount" [style.color]="getTotalBalance() < 0 ? 'red' : 'green'">
  ${{ getTotalBalance() }}
</p>
    </div>
    
  </div>

  <app-transaction-form (newTransaction)="addTransaction($event)" ></app-transaction-form>
  <app-category-progress [categoriesData]="categoriesData"></app-category-progress>

  @if (isLoading) {
  <div class="spinner-container">
    <div class="spinner"></div>
  </div>
}
  <app-transaction-list
  [transactions]="transactions"
  [selectedMonth]="selectedMonth"
  (save)="saveToStorage($event)">
  
</app-transaction-list>
  
</section>

